.main-container {
  width: 100%;
  height: 100%;
  background-image: url("~src/assets/background-gradient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-main-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.task-container {
  z-index: 2;
  background-color: white;

  border-radius: 1%;
  border: 2px solid black;

  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);

  padding: 50px;
  width: 47%; 
  text-align: center;
  font-size: 2em;
}

.task-header {
  margin-bottom: 40px;
  font-weight: 500;
  cursor: pointer;
}

.task-header:hover{
  text-decoration: underline;
}

.task-content {
  display: flex;
  justify-content: space-between;
}

.questions, .averages, .actions {
  flex: 1;
  padding: 0 20px;
}

.questions h3, .averages h3, .actions h3 {
  margin-bottom: 30px;
  font-size: 1.2em;
}

.questions div, .averages div, .actions div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.actions .action-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.correct-button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 0.5em;
  margin-left: 5px;
}

button:hover {
  background-color: #e0e0e0;
}
