<div class="menu-container">
    <div class="header">
        <div class="background">
            <div class="buttons-container">
                <div (click)="goToTasksHistory()">
                    <mat-icon> list_alt</mat-icon>
                    <span> Tâches </span>
                </div>
                <div (click)="newExamCorrection()">
                    <mat-icon>post_add</mat-icon>
                    <span> Nouvelle tâche </span>
                </div>
                <div (click)="goToTemplatesPage()">
                    <!-- <mat-icon>find_in_page</mat-icon> -->
                    <mat-icon>manage_search</mat-icon>
                    <span> Template </span>
                </div>
                <!-- <div (click)="goToPresentationPage()">
                    <mat-icon> insert_drive_file</mat-icon>
                    <span> Page de couverture </span>
                </div> -->
                <!-- <div (click)="newCorrection()">
                    <mat-icon>find_in_page</mat-icon>
                    <span> Correction </span>
                </div> -->
                <!-- <div (click)="goToUserGuide()">
                    <mat-icon>library_books</mat-icon>
                    <span> Guide </span>
                </div> -->
                <div (click)="goToProfilePage()">
                    <mat-icon>person</mat-icon>
                    <span> Profil </span>
                </div>
                <div class="disconnect-button" (click)="disconnect()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span> Déconnexion </span>
                </div>
            </div>
        </div>
    </div>
</div>
