.dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdf-container {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download-zip-button {
    border-radius: 5px;
    height: 10%;
    width: 80%;
    font-size: 100%;
    transition: 0.3s;
    margin-bottom: 10%;
    box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -moz-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52 0.7);
    -webkit-box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -o-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
    -ms-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
}

.download-zip-button:hover {
    background-color: #d2d8e6;
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.max-copies-container {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 80%;
}

.max-copies-container label {
    margin-right: 10%;
}

#maxCopies {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.replace-zip-button {
    border-radius: 5px;
    height: 30%;
    width: 100%;
    margin-top: 5%;
    font-size: 100%;
    transition: 0.3s;
    box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -moz-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52 0.7);
    -webkit-box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -o-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
    -ms-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
}

.replace-zip-button:hover {
    background-color: #d2d8e6;
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.upload-container {
    margin-top: 10%;
    text-align: center;
    width: 80%;
}

.drop-zone {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px dashed #ccc;
  padding: 15px;
  cursor: pointer;
}

.drop-zone p {
  margin: 0;
  color: #aaa;
}

#file-input {
  display: none;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
}

mat-spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 2001;
}

.files-uploading-steps {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 2001;

    color: #ffffff;
    font-size: 18px;
}
