<div class="dialog-container">
  <div class="pdf-container">
    <h3> Gestion des PDFs </h3>

    <div class="max-copies-container">
        <label for="maxCopies">Nombre max de copies par pdf</label>
        <input id="maxCopies" type="number"  placeholder="Nombre max de copies par pdf">
    </div>
    <button class="download-zip-button" mat-flat-button (click)="downloadAllFilesAsZip()">Tout télécharger</button>

    <div class="upload-container">
      <button class="replace-zip-button" mat-flat-button (click)="fileInput.click()">Tout téléverser</button>
      <input #fileInput type="file" id="file-input" accept=".zip,.pdf" (change)="onFileSelected($event)">
      <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <p>Déposez votre fichier pdf ou zip ici</p>
      </div>
    </div>
  </div>
</div>
