<div class="dialog-container">
  <div class="pdf-container">
    <h3> Gestion des PDFs </h3>

    <div class="max-copies-container form-group">
      <label for="maxCopies">Nombre max de copies par pdf</label>
      <input class="form-control" id="maxCopies" type="number" (change)="setmaxCopies($event)" placeholder="Nombre max de copies par pdf">
    </div>
    <div class="csv-container form-group">
      <label for="cvsSep">Séparateur pour le csv</label>
      <select class="form-select" id="cvsSep" (change)="setCsvSeparator($event)" placeholder="Séparateur pour le csv">
        <option value="," selected> , </option>
        <option value=";"> ; </option>
      </select>
    </div>
    <button class="download-zip-button" mat-flat-button (click)="downloadAllFilesAsZip()">Tout télécharger</button>

    <div class="upload-container">
      <button class="replace-zip-button" mat-flat-button (click)="fileInput.click()">Tout téléverser</button>
      <!-- <input #fileInput type="file" id="file-input" accept=".zip,.pdf" (change)="onFileSelected($event)"> -->
      <input #fileInput type="file" id="file-input" accept=".zip" (change)="onFileSelected($event)">
      <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <!-- <p>Déposez votre fichier pdf ou zip ici</p> -->
        <p>Déposez votre fichier zip ici</p>
      </div>
    </div>
  </div>
</div>
@if (processing) {
  <div id="overlay"></div>
}
@if (processing) {
  <mat-spinner color="accent" [diameter]="150" mode="determinate"
  [value]="percentageDone"></mat-spinner>
}
@if (processing) {
  <div id="overlay"></div>
}
@if (processing) {
  <div class="files-uploading-steps">{{ info }}</div>
}
