<div class="dialog-container">
  <div class="pdf-container">
    <h3> Mise à jour du csv des notes </h3>

    <div class="upload-container">
      <button class="replace-zip-button" mat-flat-button (click)="fileInput.click()">Téléverser</button>
      <input #fileInput type="file" id="file-input" accept=".csv" (change)="onFileSelected($event)">
      <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <p>Déposez votre fichier csv ici</p>
      </div>
    </div>
  </div>
</div>
