<div class="main-container">
  @if (loggued()) {
<app-main-menu></app-main-menu>
}
  <div class="task-container">
    <div class="task-header">
      <h1>{{ taskName }}</h1>
      @if (taskInfo) {
        <div class="task-progress" id="task-progress">{{ taskInfo }}</div>
      }
    </div>
    @if (!disableButtons) {
<div class="select-index-container">
        <p>Recherche index: </p>
        <div class="index-input-div">
            <ng-select id="copy" [items]="copiesList" bindLabel="identifiant"
                [multiple]="false" [searchable]="true" [clearable]="false" [closeOnSelect]="true"
                appendTo="app-dashboard-page" [virtualScroll]="false"
                [(ngModel)]="copySelection">
            </ng-select>
        </div>
        <p>{{ this.copySelection ? (this.copySelection.copy + 1 || "N/A") : "" }}</p>
        @if (this.copySelection) {
<button class="select-index-button" mat-raised-button color="primary" (click)="selectCopy()"
                [disabled]="this.copySelection.copy === undefined">Sélectionner</button>
}
    </div>
}
    <div class="task-content">
      @if (task) {
<table>
        <thead>
          <tr>
            <th>Questions</th>
            <th>Copies corrigées</th>
            <th>Moyennes</th>
            <th>Écart-types</th>
            <th>Histogrammes</th>
            <th>Bonus</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (question of questions; track question; let i = $index) {
<tr>
            <td> {{ question.name }}
              <!-- <div *ngIf="question.bonus">
                {{ question.name }} (Bonus)
              </div>
              <div *ngIf="!question.bonus">
                {{ question.name }}
              </div> -->
            </td>
            <td>{{ question.validatedCount }} / {{ question.count }}
              @if (readingState(question)) {
                <div [ngClass]="'reading-state ' + readingClass(question)">{{ readingState(question) }}</div>
              }
            </td>
            <td>{{ question.average | number:'1.2-2' }} / {{ question.max }}</td>
            <td>{{ question.stdDev | number:'1.2-2' }}</td>
            <td>
              <div class="histogram-container">
                @for (bin of question.histogram; track bin) {
<div class="histogram-bar">
                  <div class="histogram-bar-inner" [style.height.%]="bin.count > 0 ? 10 + (bin.count / this.getMaxCount(question)) * 90 : 2"
                       [title]="'Count: ' + bin.count">
                    @if (bin.count > 0) {
<span>{{ bin.count }}</span>
}
                  </div>
                  <span class="histogram-label">{{ bin.value }}</span>
                </div>
}
              </div>
            </td>
            <td>
                @if (question.name != 'Total') {
<input type="checkbox" [(ngModel)]="question.bonus" [disabled]="disableButtons" (change)="questionBonusChange(question)" [ngModelOptions]="{standalone: true}">
}
            </td>
            <td class="action-buttons">
              @if (!disableButtons) {
<button class="correct-button" mat-raised-button color="primary" [disabled]="question.count === 0" (click)="correctQuestion(question)">Corriger</button>
}
              @if (!shared() && !disableButtons) {
<button class="correct-button" mat-raised-button color="primary" (click)="shareQuestion(question.name !== 'Total' ? question.index : undefined)">Partager</button>
}
            </td>
          </tr>
}
          <tr>
            <td>Matricules</td>
            <td>{{ totalVerifiedMatricules }} / {{ examsCount }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="action-buttons">
              @if (!disableButtons) {
<button class="correct-button" mat-raised-button color="primary" (click)="verifyMatricules()">Verifier</button>
}
              @if (!shared() && !disableButtons) {
<button class="correct-button" mat-raised-button color="primary" (click)="shareMatricule()">Partager</button>
}
            </td>
          </tr>
        </tbody>
      </table>
}
      @if (loggued() && !shared() && !disableButtons) {
<div class="validate-job-container">
        <div class="checkbox-container">
          <button class="copies-job-button" mat-raised-button color="primary" (click)="addCopies()">Copies additionnelles</button>
          <button class="csv-job-button" mat-raised-button color="primary" (click)="updateCsv()">Mettre à jour csv</button>
          @if (questions.length >0) {
<label>
              <input type="checkbox" [(ngModel)]="taskStats" (change)="taskStatsChange()" [ngModelOptions]="{standalone: true}">
              Statistiques pour les élèves
          </label>
}
          <button class="validate-job-button" mat-raised-button color="warn" (click)="validateJob()" [disabled]="ongoingTask">Finaliser</button>
        </div>
      </div>
}
      @if (disableButtons && task.job_status === JobStatus.ARCHIVED) {
<div class="validate-job-container">
        @if (loggued() && !shared()) {
<div class="checkbox-container">
          <button class="validate-job-button" mat-raised-button color="warn" (click)="restore()">Restaurer</button>
          <button class="validate-job-button" mat-raised-button color="primary" (click)="openTaskFilesDialog()">Télécharger copies</button>
        </div>
}
        @if (!loggued() || shared()) {
<button class="validate-job-button" mat-raised-button color="primary" (click)="openTaskFilesDialog()">Télécharger copies</button>
}
      </div>
}
    </div>
  </div>
  @if (loggued()) {
<button mat-button (click)="reroute()" class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
}
</div>
