<div class="dialog-container">
  <div class="header-container">
    <h1>Téléchargement des fichiers</h1>
  </div>
  <div class="global-container">
    <a id="download-file" hidden="true"></a>
    @for (n of numSequence(data.nbZipFile); track n; let i = $index) {
      <div class="file-container">
        <div class="file-logo zip-logo">
        </div>
        <div class="file-input-div">
          <input type="text" [attr.id]="setZipIds(i)" [value]="setDefaultZipValues(i)">
        </div>
        <button mat-raised-button color="primary" (click)="checkInputBox('zip_file', false, i)">Télécharger</button>
        @if (!data.share) {
          <button mat-raised-button color="primary" (click)="checkInputBox('zip_file', true, i)">Partager</button>
        }
      </div>
    }
    <div class="file-container">
      <div class="file-logo csv-logo">
      </div>
      <div class="file-input-div">
        <input type="text" id="notes_csv_file" value="notes">
      </div>
      <button mat-raised-button color="primary" (click)="checkInputBox('notes_csv_file', false)">Télécharger</button>
      @if (!data.share) {
        <button mat-raised-button color="primary" (click)="checkInputBox('notes_csv_file', true)">Partager</button>
      }
    </div>
    @if (data.stats) {
      <div class="file-container">
        <div class="file-logo pdf-logo">
        </div>
        <div class="file-input-div">
          <input type="text" id="stats_pdf_file" value="stats">
        </div>
        <button mat-raised-button color="primary" (click)="checkInputBox('stats_pdf_file', false)">Télécharger</button>
        @if (!data.share) {
          <button mat-raised-button color="primary" (click)="checkInputBox('stats_pdf_file', true)">Partager</button>
        }
      </div>
    }
  </div>
  <!-- <div class="cancel-container">
  <button mat-raised-button (click)="cancel()">Sortir</button>
</div> -->
<!--    <div class="restore-container">-->
<!--        <button mat-raised-button color="warn" (click)="restore()">Restaurer</button>-->
<!--    </div>-->
</div>
@if (this.downloading) {
  <div id="overlay"></div>
}
@if (this.downloading) {
  <mat-spinner color="accent" [diameter]="150" mode="determinate" [value]="this.downloadProgress"></mat-spinner>
}
@if (this.downloading) {
  <div id="overlay"></div>
}
@if (this.downloading) {
  <div class="files-uploading-steps">Téléchargement du fichier...</div>
}
