<div class="main-container">
<div class="task-verification-container">
    <div class="background">
        <div class="files-container" [ngClass]="{'hidden': isSidebarHidden}">
            <div class="filter-job-container" *ngIf="showFilter()">
              <label>Filtrer par groupe: </label>
              <select (change)="loadSubExamsList()" [(ngModel)]="group">
                <option *ngFor="let g of groupsList">{{g}}</option>
              </select>
            </div>
            <div class="filter-job-container" *ngIf="!disabledDropDown">
                <mat-form-field appearance="fill">
                    <mat-label>Numéro de la question</mat-label>
                    <mat-select (selectionChange)="onQuestionIndexChange($event)" [(value)]="index">
                        <mat-option *ngFor="let i of questionIndexes" [value]="i">
                            {{i}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="files-list-container" [ngStyle]="{'height': filesListHeight()}" id="files-list-container">
                <div class="file-container" *ngFor="let exam of subExamsList; let i = index"
                    (click)="changeCurrentCopy(exam.document_index, exam.status, false)">
                    <div class="disabled-copy" *ngIf="exam.status == 'NOT_READY'">
                        <strong>{{formattedIndexes[i]}}</strong>
                        <mat-icon class="bottom-right-icon" *ngIf="exam.offline">file_copy</mat-icon>
                    </div>
                    <div [ngClass]="exam.document_index == currentCopy ? 'validated-copy chosen-copy' : 'validated-copy'"
                        *ngIf="exam.status == 'VALIDATED'">
                        <strong>{{formattedIndexes[i]}}</strong>
                        <mat-icon class="bottom-right-icon" *ngIf="exam.offline">file_copy</mat-icon>
                    </div>
                    <div [ngClass]="exam.document_index == currentCopy ? 'to-validate-copy chosen-copy' : 'to-validate-copy'"
                        *ngIf="exam.status == 'TO VALIDATE'">
                        <strong>{{formattedIndexes[i]}}</strong>
                        <mat-icon class="bottom-right-icon" *ngIf="exam.offline">file_copy</mat-icon>
                    </div>
                    <div [ngClass]="exam.document_index == currentCopy ? 'high-precision-copy chosen-copy' : 'high-precision-copy'"
                        *ngIf="exam.status == 'HIGH ACCURACY'">
                        <strong>{{formattedIndexes[i]}}</strong>
                        <mat-icon class="bottom-right-icon" *ngIf="exam.offline">file_copy</mat-icon>
                    </div>
                </div>
            </div>
            <button class="offline-button" mat-raised-button color="primary" *ngIf="!offline" (click)="correctOffline()">Corriger hors ligne</button>
            <button class="offline-button" mat-raised-button color="primary" *ngIf="offline" (click)="uploadOffline()" [disabled]="downloadingOffline">Finaliser hors ligne</button>
            <button class="offline-button" mat-raised-button color="warn" *ngIf="offline" (click)="cancelOffline()">Annuler</button>
            <button class="pdf-management-button" mat-flat-button (click)="managePdfs()" [disabled]="downloadingOffline">Gérer mes copies</button>
        </div>
        <div class="validation-container" [ngClass]="{'expanded': isSidebarHidden}">
          <div class="validation-check-container" *ngIf="currentCopy >= 0" [ngClass]="{'expanded': isSidebarHidden}">
            <div class="validation-block">
              <div *ngIf="isSidebarHidden" class="sidebar-toggle-button" (click)="toggleSidebar()">
                  <mat-icon>visibility</mat-icon>
              </div>
              <div *ngIf="!isSidebarHidden" class="sidebar-toggle-button" (click)="toggleSidebar()">
                  <mat-icon>visibility_off</mat-icon>
              </div>
                <div class="check-list-container">
                    <div class="sub-check-container">
                        <h3>{{currentExam().question}} (/{{nMaxPointsPerQuestion.get(currentQuestionIndex)}})</h3>
                        <div class="value-input-div">
                          <input id="score" type="number" [(ngModel)]="currentGrade" placeholder="Entrer la note" class="note-input"/>
                        </div>
                    </div>
                    <div class="sub-check-container"
                        *ngFor="let grade of currentGrades | keyvalue : sortNull; trackBy: trackByIndex;">
                        <h3>{{grade.key}} (/{{nMaxPointsPerQuestion.get(grade.key)}}) </h3>
                        <div class="value-input-div">
                            <input (click)="selectText($event)" type="number" [attr.id]="setQuestionId(grade.key)"
                                id="text-box" [(ngModel)]="grade.value"
                                (input)="updateTotal(grade.key, grade.value)" step=any
                                [disabled]="pdfLoading">
                        </div>
                    </div>
                </div>
                <div class="validate-container">
                    <button [ngClass]="colorChosen == 'red' ? 'validate-button red' : 'validate-button ' + (colorChosen == 'blue' ? 'validate-button blue' : 'validate-button ' + (colorChosen == 'green' ? 'validate-button green' : 'validate-button'))"
                            (click)="validateCurrentCopy()" [disabled]="pdfLoading">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                </div>
              </div>
              <div class="version-block" [ngClass]="{'expanded': isSidebarHidden}">
                <div class="version-container">
                  <h3>Version ({{currentVersion}})</h3>
                  <!-- <input type="number"
                      class="version-number" id="text-box" [(ngModel)]="currentVersion"
                      (input)="setNewVersion($event)" step=any
                      [disabled]="pdfLoading"> -->
                  <div class="version-buttons">
                   <button type="button" class="nav-button" [disabled]="disablePrevious" (click)="loadPdf(currentVersion-1)">
                     <mat-icon>arrow_back_ios</mat-icon>
                   </button>
                   <button type="button" class="nav-button" [disabled]="disableNext" (click)="loadPdf(currentVersion+1)">
                     <mat-icon>arrow_forward_ios</mat-icon>
                   </button>
                 </div>
                </div>
              </div>
          </div>
            <div class="picture-container" [ngClass]="{'expanded': isSidebarHidden}">
                <app-pdf-viewer
                  [pdfUrl]="pdfUrl"
                  (onAnnotationsLoaded)="checkNavigationArrows($event)">
                </app-pdf-viewer>
                <button mat-button *ngIf="!isSidebarHidden" (click)="previousCopy()" class="back-button2" [ngClass]="{'expanded': isSidebarHidden}"><mat-icon>arrow_back_ios</mat-icon></button>
                <button mat-button *ngIf="!isSidebarHidden" (click)="nextCopy()" class="back-button3" [ngClass]="{'expanded': isSidebarHidden}"><mat-icon>arrow_forward_ios</mat-icon></button>
            </div>
        </div>
    </div>
</div>
<div class="page-count" *ngIf="currentCopy >= 0">
    {{currentIndex() + (subExamsList.length > 0 ? 1 - subExamsList[0]['document_index'] : 0)}} / {{subExamsList.length}}
</div>
</div>
<button mat-button *ngIf="(loggued() || shareAll) && !isSidebarHidden && !offline" (click)="reroute()" class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
<div id="overlay" *ngIf="pdfLoading"></div>
<mat-spinner class="overlay-spinner" *ngIf="pdfLoading" color="accent" [diameter]="150"></mat-spinner>
