<div class="dialog-container">
    <div class="header-container">
        <h1>Téléversement des fichiers</h1>
    </div>
    <div class="content-container">
        <div class="error-messages-container">
            <div class="error-message" *ngIf="this.filenames.length > 0">
                <div *ngFor="let filename of filenames">
                    {{ filename }}
                    <button mat-icon-button color="primary" (click)="downloadFile(filename)">
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="downloadAllAsZip()" class="download-zip-button">Télécharger tous les fichiers en ZIP</button>
        </div>
        <div class="upload-container"
            (drop)="onDrop($event)"
            (dragover)="onDragOver($event)">
            <div class="upload-drop-zone" (click)="onUploadClick()">
                Glissez-déposez les fichiers ici ou cliquez pour téléverser
            </div>
            <input #fileUpload type="file" id="file-upload" style="display: none;" (change)="onFileSelected($event)" multiple>
        </div>
    </div>
    <div class="selected-files-container" *ngIf="selectedFiles.length > 0">
        <h3>Fichiers sélectionnés ({{selectedFiles.length}}/{{filenames.length}}):</h3>
        <ul>
            <li *ngFor="let file of selectedFiles; let i = index">
                {{ file.name }}
                <button mat-icon-button color="warn" (click)="deleteFile(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <div class="uploaded-files-container" *ngIf="uploadedFiles.length > 0">
        <h3>Fichiers téléversés:</h3>
        <ul>
            <li *ngFor="let file of uploadedFiles">{{ file }}</li>
        </ul>
    </div>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="retryJob()" [disabled]="isContinueDisabled()">Continuer</button>
        <button mat-raised-button color="primary" (click)="ignoreAndContinue()">Ignorer et continuer</button>
        <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
    </div>
</div>
<div id="overlay" *ngIf="this.downloading"></div>
<mat-spinner *ngIf="this.downloading" color="accent" [diameter]="150" mode="determinate" [value]="this.downloadProgress"></mat-spinner> 
<div id="overlay" *ngIf="this.downloading"></div>
<div class="files-uploading-steps" *ngIf="this.downloading">Téléversement du fichier...</div>
