.dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.global-container {
    width: 100%;
    height: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
    border: 2px solid #000000;
}

.file-container {
    height: 20%;
    width: 95%;
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;               
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.error-message {
    color: red;
    font-size: 18px;
    border: 2px solid #000000;
    font-style: italic;  
}

.pdf-logo {
    background-image: url("~src/assets/pdf-logo.png");
}

.zip-logo {
    background-image: url("~src/assets/zip-logo.png");
}

.header-container {
    height: 10%;
    width: 100%;
    display: flex;                          
    flex-wrap: nowrap;               
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-container {
    height: 10%;
    width: 100%;
    display: flex;                          
    flex-wrap: nowrap;               
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 5%;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
mat-spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
}
.files-uploading-steps {
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;

    color: #ffffff;
    font-size: 18px;
}
