<div class="main-container prevent-select">
  @if (pdfUrl !== undefined) {
    <ngx-extended-pdf-viewer
      #pdfViewer
      [src]="pdfUrl"
      [useInlineScripts]="false"
      [language]="'fr'"
      [handTool]="false"
      [textLayer]="false"
      zoom="page-width"
      [customToolbar]="additionalButtons"
      [showToolbar]="!hideToolbar"
      [showEraserEditor]="true"
      [showUndoRedoButtons]="true"
      (annotationEditorModeChanged)="onEditorModeChanged($event)"
      (pageRendered)="onPageRendered()"
      >
    </ngx-extended-pdf-viewer>
  }
  @if (pdfUrl === undefined) {
    <p>Cette copie n'est pas disponible.</p>
  }
  <ng-template #additionalButtons>
    @if (!hideToolbar) {
      <div id="toolbarViewer">
        <div id="toolbarViewerLeft">
          <pdf-text-editor id="textEditorTool"></pdf-text-editor>
        </div>
        <pdf-zoom-toolbar></pdf-zoom-toolbar>
        <div id="toolbarViewerRight">
          <pdf-draw-editor id="drawEditorTool" [show]="'always-visible'"></pdf-draw-editor>
          <pdf-eraser-editor id="eraserEditorTool" [show]="'always-visible'"></pdf-eraser-editor>
          <div class="toolbarButtonSpacer hiddenSmallView"></div>
          <div class="verticalToolbarSeparator hiddenSmallView"></div>
          <pdf-undo-redo [show]="'always-visible'"></pdf-undo-redo>
          <div class="toolbarButtonSpacer"></div>
        </div>
      </div>
    }
  </ng-template>
  @if (!pdfRendered && pdfAnnotations.length > 0) {
    <div id="overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
