<div class="main-container prevent-select">
  <ngx-extended-pdf-viewer *ngIf="pdfUrl !== undefined"
    #pdfViewer
    [src]="pdfUrl"
    [useInlineScripts]="false"
    [language]="'fr'"
    [handTool]="false"
    [textLayer]="false"
    [zoom]="page-width"
    [customToolbar]="additionalButtons"
    [showToolbar]="!hideToolbar"
    (pdfLoaded)="onPdfLoaded($event)"
    (annotationEditorEvent)="onAnnotationEdited($event)"
    (pageRendered)="onPageRendered($event)"
    >
  </ngx-extended-pdf-viewer>
  <p *ngIf="pdfUrl === undefined">Cette copie n'est pas disponible.</p>
  <ng-template #additionalButtons>
    <div id="toolbarViewer" *ngIf="!hideToolbar">
      <div id="toolbarViewerLeft">
        <pdf-text-editor id="textEditorTool" (click)="closeEraser()" [closeOnClick]="true"></pdf-text-editor>
      </div>
      <pdf-zoom-toolbar></pdf-zoom-toolbar>
      <div id="toolbarViewerRight">
        <pdf-draw-editor id="drawEditorTool" (click)="closeEraser()" [closeOnClick]="true" [cssClass]="'always-visible'"></pdf-draw-editor>
        <pdf-shy-button
          [cssClass]="'always-visible'"
          class="EraserTool"
          title="EraserTool"
          primaryToolbarId="eraserTool"
          l10nId="infinite_scroll"
          [order]="1"
          [closeOnClick]="true"
          (click)="erase($event)"
          image='<svg width="20" height="20" viewBox="0 0 30 30" id="icon" xmlns="http://www.w3.org/2000/svg"><rect x="7" y="27" width="23" height="2"/><path d="M27.38,10.51,19.45,2.59a2,2,0,0,0-2.83,0l-14,14a2,2,0,0,0,0,2.83L7.13,24h9.59L27.38,13.34A2,2,0,0,0,27.38,10.51ZM15.89,22H8L4,18l6.31-6.31,7.93,7.92Zm3.76-3.76-7.92-7.93L18,4,26,11.93Z" transform="translate(0 0)"/></svg>'
        ></pdf-shy-button>
        <div class="toolbarButtonSpacer hiddenSmallView"></div>
        <div class="verticalToolbarSeparator hiddenSmallView"></div>
        <pdf-shy-button
          [cssClass]="'always-visible' | responsiveCSSClass"
          class="Undo"
          title="Undo"
          primaryToolbarId="undo"
          l10nId="infinite_scroll"
          [order]="1"
          [closeOnClick]="true"
          (click)="undoChange()"
          image='<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5V2L7 7L12 12V9C16 9 19 12 19 16C19 20 16 23 12 23C9 23 6.5 21 5.5 18.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>'
        ></pdf-shy-button>
        <pdf-shy-button
          [cssClass]="'always-visible' | responsiveCSSClass"
          class="Redo"
          title="Redo"
          primaryToolbarId="redo"
          l10nId="infinite_scroll"
          [order]="1"
          [closeOnClick]="true"
          (click)="redoChange()"
          image='<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M12 5V2L17 7L12 12V9C8 9 5 12 5 16C5 20 8 23 12 23C15 23 17.5 21 18.5 18.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 </svg>'
        ></pdf-shy-button>
        <div class="toolbarButtonSpacer"></div>
      </div>
    </div>
    <div class="editorParamsToolbar hidden doorHangerRight" id="eraserParamsToolbar">
      <div class="editorParamsToolbarContainer">
        <div class="editorParamsSetter">
          <label for="eraserThickness" class="editorParamsLabel">Épaisseur</label>
          <input type="range" id="eraserThickness" class="editorParamsSlider" value="15" min="5" max="50" step="5" [(ngModel)]="radius"/>
        </div>
      </div>
    </div>
  </ng-template>
  <div id="overlay" *ngIf="!pdfRendered && pdfAnnotations.length > 0">
    <mat-spinner></mat-spinner>
  </div>
</div>
