<div class="main-container">
  <ngx-extended-pdf-viewer *ngIf="pdfUrl !== undefined"
    #pdfViewer
    [src]="pdfUrl"
    [language]="'fr'"
    [handTool]="false"
    [textLayer]="false"
    [zoom]="page-width"
    (pdfLoaded)="onPdfLoaded($event)"
    (annotationEditorEvent)="onAnnotationEdited($event)"
    (pageRendered)="onPageRendered($event)"
    [customToolbar]="additionalButtons"
    [showToolbar]="!hideToolbar"
    >
  </ngx-extended-pdf-viewer>
  <ng-template #additionalButtons>
    <div id="toolbarViewer" *ngIf="!hideToolbar">
      <div id="toolbarViewerLeft">
        <div class="toolbarButtonSpacer hiddenSmallView"></div>
        <pdf-text-editor id="textEditorTool"></pdf-text-editor>
      </div>
      <pdf-zoom-toolbar></pdf-zoom-toolbar> <!-- toolbar viewer middle -->
      <div id="toolbarViewerRight">
        <pdf-draw-editor id="drawEditorTool"></pdf-draw-editor>
        <!-- <pdf-shy-button
          [cssClass]="'always-visible' | responsiveCSSClass"
          class="EraserTool"
          title="EraserTool"
          primaryToolbarId="eraserTool"
          l10nId="infinite_scroll"
          [order]="1"
          [closeOnClick]="true"
          (click)="erase()"
          image="<svg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 512 512'><path fill='#747474' path d='M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z'/></svg>"
        ></pdf-shy-button>
        <div class="toolbarButtonSpacer hiddenSmallView"></div>
        <div class="verticalToolbarSeparator hiddenSmallView"></div> -->
        <pdf-shy-button
          [cssClass]="'always-visible' | responsiveCSSClass"
          class="Undo"
          title="Undo"
          primaryToolbarId="undo"
          l10nId="infinite_scroll"
          [order]="1"
          [closeOnClick]="true"
          (click)="undoChange()"
          image="<svg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 512 512'><path fill='#747474' path d='M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z'/></svg>"
        ></pdf-shy-button>
        <!-- <pdf-shy-button
          [cssClass]="'always-visible' | responsiveCSSClass"
          class="Redo"
          title="Redo"
          primaryToolbarId="redo"
          l10nId="infinite_scroll"
          [order]="1"
          [closeOnClick]="true"
          (click)="redoChange()"
          image="<svg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 512 512'><path fill='#747474' path d='M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z'/></svg>"
        ></pdf-shy-button> -->
        <div class="toolbarButtonSpacer"></div>
      </div>
    </div>
  </ng-template>
  <div id="overlay" *ngIf="!pdfRendered && pdfAnnotations.length > 0">
    <mat-spinner></mat-spinner>
  </div>
</div>
