.main-container {
  width: 100%;
  height: 100%;
}

ngx-extended-pdf-viewer {
    width: 100%;
    height: 100%;
}

#toolbarViewer {
  background-color: Snow;
}

#eraserParamsToolbar {
  inset-inline-end: 68px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main-container>p {
    color: gray;
    font-size: x-large;
    text-align: center;
    margin-top: 50%;
}

@media (max-width: 800px) {
  pdf-zoom-toolbar {
    visibility: hidden;
  }
}
