<div class="dialog-container">
  <div class="header-container">
    <h1>Téléversement des fichiers</h1>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" [disabled]="disabled || uploading" (click)="retryJob()">Continuer</button>
    <button mat-raised-button color="primary" (click)="ignoreAndContinue()" [disabled]="isFileNamesEmpty() || uploading">Ignorer et continuer</button>
    <button mat-raised-button color="warn" (click)="cancel()" [disabled]="uploading">Annuler</button>
  </div>
  <div class="content-container">
    <div class="error-messages-container">
      @if (!isFileNamesEmpty()) {
        <div class="files-container error-message">
          <ul>
            @for (filename of filenames; track filename; let i = $index) {
              <li class="filename-div">
                <span class="filename-text">{{ filename }}</span>
                <button mat-icon-button color="primary" (click)="downloadFile(filename)">
                  <mat-icon>download</mat-icon>
                </button>
                <!--                  <span class="file-error">{{ errorMessages[i] }}</span>-->
              </li>
            }
          </ul>
        </div>
      }
      <button mat-raised-button color="primary" (click)="downloadAllAsZip()" class="download-zip-button" [disabled]="isFileNamesEmpty()">Télécharger tous les fichiers en ZIP</button>
    </div>
    <div class="upload-container"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)">
      <div class="upload-drop-zone" (click)="onUploadClick()">
        Glissez-déposez les fichiers ici ou cliquez pour téléverser
      </div>
      <input #fileUpload type="file" id="file-upload" (change)="onFileSelected($event)" multiple>

      @if (selectedFiles.length > 0) {
        <div class="files-container selected-files-container">
          <h3>Fichiers sélectionnés:</h3>
          <ul>
            @for (file of selectedFiles; track file; let i = $index) {
              <li>
                <span>{{ file.name }}</span>
                <button mat-icon-button color="warn" (click)="deleteFile(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
  @if (uploadedFiles.length > 0) {
    <div class="uploaded-files-container">
      <h3>Fichiers téléversés:</h3>
      <ul>
        @for (file of uploadedFiles; track file) {
          <li>{{ file }}</li>
        }
      </ul>
    </div>
  }
</div>
@if (this.downloading) {
  <div id="overlay"></div>
}
@if (this.downloading) {
  <mat-spinner color="accent" [diameter]="150" mode="determinate" [value]="this.downloadProgress"></mat-spinner>
}
@if (this.downloading) {
  <div class="files-uploading-steps">Téléversement du fichier...</div>
}
@if (this.uploading) {
  <div id="overlay"></div>
}
@if (this.uploading) {
  <mat-spinner color="accent" [diameter]="150" mode="indeterminate"></mat-spinner>
}
@if (this.uploading) {
  <div class="files-uploading-steps">Téléversement des copies...</div>
}
