<div class="page-count" *ngIf="!this.pictureLoading || !this.disabledValidationcontainer">
    {{this.currentIndex() + (this.subExamsList.length > 0 ? 1 : 0)}} / {{this.subExamsList.length}}
</div>
<div class="task-verification-container">
    <div class="background">
        <div *ngIf="isSidebarHidden" class="sidebar-toggle-button" (click)="toggleSidebar()">
            <mat-icon>visibility</mat-icon>
        </div>
        <div *ngIf="!isSidebarHidden" class="sidebar-toggle-button" (click)="toggleSidebar()">
            <mat-icon>visibility_off</mat-icon>
        </div>
        <div class="files-container" [ngClass]="{'hidden': isSidebarHidden}">
            <div class="filter-job-container" *ngIf="this.showFilter()">
              <label>Filtrer par groupe: </label>
              <select (change)="this.loadSubExamsList()" [(ngModel)]="this.group">
                <option *ngFor="let g of this.groupsList">{{g}}</option>
              </select>
            </div>
            <div class="filter-job-container" *ngIf="!this.disabledDropDown">
                <mat-form-field appearance="fill">
                    <mat-label>Numéro de la question</mat-label>
                    <mat-select (selectionChange)="onQuestionIndexChange($event)">
                        <mat-option *ngFor="let index of questionIndexes" [value]="index">
                            {{index}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="files-list-container" [ngStyle]="{'height': this.filesListHeight()}">
                <div class="file-container" *ngFor="let exam of this.subExamsList; let i = index"
                    (click)="changeCurrentCopy(exam.document_index, exam.status)">
                    <div class="disabled-copy" *ngIf="exam.status == 'NOT_READY'">
                        <strong>{{formattedIndexes[i]}}</strong>
                    </div>
                    <div [ngClass]="exam.document_index == this.currentCopy ? 'validated-copy chosen-copy' : 'validated-copy'"
                        *ngIf="exam.status == 'VALIDATED'">
                        <strong>{{formattedIndexes[i]}}</strong>
                    </div>
                    <div [ngClass]="exam.document_index == this.currentCopy ? 'to-validate-copy chosen-copy' : 'to-validate-copy'"
                        *ngIf="exam.status == 'TO VALIDATE'">
                        <strong>{{formattedIndexes[i]}}</strong>
                    </div>
                    <div [ngClass]="exam.document_index == this.currentCopy ? 'high-precision-copy chosen-copy' : 'high-precision-copy'"
                        *ngIf="exam.status == 'HIGH ACCURACY'">
                        <strong>{{formattedIndexes[i]}}</strong>
                    </div>
                </div>
            </div>                       
            <div class="validate-job-container" *ngIf="this.loggued()">
                <button class="validate-job-button" mat-flat-button (click)="validateJob()"
                [disabled]="this.disabledValidationButton">Finaliser</button>
            </div>
        </div>
        <div class="validation-container" [ngClass]="{'expanded': isSidebarHidden}">
            <p *ngIf="this.disabledValidationcontainer">Aucune copie n'est prête à être validée.</p>
            <div class="picture-container" *ngIf="!this.disabledValidationcontainer" [ngClass]="{'expanded': isSidebarHidden}">
                <ngx-extended-pdf-viewer *ngIf="!this.pdfLoading"
                    [src]="this.pdfSrc" 
                    [language]="'fr'"
                    [showDownloadButton]="false"
                    [showPrintButton]="false"
                    [showOpenFileButton]="false">
                </ngx-extended-pdf-viewer>
                <button mat-button *ngIf="!isSidebarHidden" (click)="previousCopy()"class="back-button2" [ngClass]="{'expanded': isSidebarHidden}"><mat-icon>arrow_back_ios</mat-icon></button>
                <button mat-button *ngIf="!isSidebarHidden" (click)="nextCopy()"class="back-button3" [ngClass]="{'expanded': isSidebarHidden}"><mat-icon>arrow_forward_ios</mat-icon></button>
                <mat-spinner *ngIf="this.pdfLoading"></mat-spinner>
            </div>
            <div class="validation-check-container" *ngIf="!this.disabledValidationcontainer">
                <div class="check-list-container">
                    <div class="sub-check-container">
                        <h3>Note (/{{nMaxPointsPerQuestion.get(currentQuestionIndex)}})</h3>
                        <div class="value-input-div">
                            <input id="score" type="number" [(ngModel)]="currentScore" placeholder="Entrer la note" class="note-input"/>
                        </div>
                    </div>
                    <div class="sub-check-container"
                        *ngFor="let prediction of this.currentPredictions | keyvalue : sortNull; trackBy: trackByIndex;">
                        <h3>{{prediction.key}}</h3>
                        <div class="value-input-div">
                            <input (click)="this.selectText($event)" type="number" [attr.id]="this.setQuestionId(prediction.key)"
                                id="text-box" [(ngModel)]="prediction.value"
                                (input)="this.updateTotal(prediction.key, prediction.value)" step=any
                                [disabled]="this.validating">
                        </div>
                    </div>
                </div>
                <div class="validate-container">
                    <button [ngClass]="this.colorChosen == 'red' ? 'validate-button red' : 'validate-button ' + (this.colorChosen == 'blue' ? 'validate-button blue' : 'validate-button ' + (this.colorChosen == 'green' ? 'validate-button green' : 'validate-button'))"
                            (click)="validateCurrentCopy()" [disabled]="this.validating">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<button mat-button *ngIf="this.loggued() && !isSidebarHidden" (click)="reroute()"class="back-button"><mat-icon>arrow_back_ios</mat-icon></button>
<div id="overlay" *ngIf="this.validating"></div>
<mat-spinner class="overlay-spinner" *ngIf="this.validating" color="accent" [diameter]="150"></mat-spinner>
